@import "./theme.css";

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-background);
}

/* WebKit-based browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.container {
  display: flex;
  height: 100vh;
}
