.actions {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: var(-color-border-section);
}

.actions .left,
.actions .middle,
.actions .right {
  display: flex;
  align-items: center;
}

.actions .left {
  flex: 1;
  justify-content: flex-start;
}

.actions .right {
  flex: 1;
  justify-content: flex-end;
}

.actions i,
.actions .page {
  color: var(--color-text-tertiary);
}

.actions i {
  cursor: pointer;
}

.actions i.disabled {
  color: var(--color-text-disabled);
  cursor: default;
}

.actions i:not(.disabled):hover {
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.actions .left i {
  margin-right: 20px;
}

.actions .right i {
  margin-left: 20px;
}

.middle .page {
  margin: 0 10px;
}
